<ion-header>
  <ion-toolbar>
    <ion-title>Editar Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="stacked">Imagen URL</ion-label>
      <ion-input [(ngModel)]="tarea.image" name="image"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input [(ngModel)]="tarea.title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="tarea.description" name="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Latitud</ion-label>
      <ion-input [(ngModel)]="tarea.latitude" name="latitude"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Longitud</ion-label>
      <ion-input [(ngModel)]="tarea.longitude" name="longitude"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Completado</ion-label>
      <ion-toggle [(ngModel)]="tarea.completed" name="completed"></ion-toggle>
    </ion-item>

    <ion-button expand="block" color="primary" type="submit">Guardar Cambios</ion-button>
    <ion-button expand="block" color="light" (click)="cancelar()">Cancelar</ion-button>
  </form>
</ion-content>